<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Enable CORS for Office Add-ins -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
      </customHeaders>
    </httpProtocol>
    
    <!-- Only add MIME types that might not be configured by default -->
    <staticContent>
      <!-- Office add-in specific MIME types -->
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    
    <!-- Default documents -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
        <add value="taskpane.html" />
      </files>
    </defaultDocument>
    
    <!-- Enable directory browsing for development -->
    <directoryBrowse enabled="true" />
    
    <!-- Handle OPTIONS requests for CORS preflight -->
    <handlers>
      <add name="OptionsHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" resourceType="Unspecified" requireAccess="None" />
    </handlers>
  </system.webServer>
  
  <!-- Handle errors gracefully -->
  <system.web>
    <httpRuntime enableVersionHeader="false" />
    <customErrors mode="Off" />
  </system.web>
</configuration>